{% extends 'inicio/index.html' %}
{% block content %}
<div class="container-md-carrousel"">
      <div class="row">
            <div class="col-sm-12">
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                                    {% for imagen in detalles %}
                              <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
                                    <img src="{{imagen.img.url}}" alt="..." class="d-block w-100">
                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span> -->
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span> -->
                              </a>
                              <div class="datos-proyecto">
                                    <h4 class="name-proj">Proyecto: {{imagen.proyecto.nombre}}</h4>
                                    <h4 class="name-arq">Equipo del proyecto: {{imagen.proyecto.arquitecto}}</h4>
                                    <h5 class="name-arq">Ubicacion: {{imagen.proyecto.datos.ubicacion}}</h5>
                                    <h6 class="name-arq">Memoria: {{imagen.proyecto.descripcion}}</h6>
                                    <br><br><br>
                              </div> 
                        </div>
                              {% endfor %}
                        </div>
                  </div>
            </div>
      </div> 
</div>
<br><br>
{% endblock content %}    

       
                                                                                                                                 