{% extends "inicio/index.html" %}
{% block content %}
<div class="container-fluid">
  {% for profesional in profesionales %}
  <section class="personas">
    <div class="contenedor">
      <article class="persona__columna">
        <a href="{% url 'inicio:ver_detalles' profesional.id %}"><img src="{{profesional.img_principal.url}}"></a>
      </article>
    </div>
  </section>
  {% endfor %}
</div>
{% endblock content %}

<div class="col-4 imag efecto">
  <a href="{% url 'inicio:ver_detalles' profesional.id %}"><img src="{{profesional.img_principal.url}}" 
  class="principal" 
  style="height: 220px;
  width: 350px;">
   </a>
</div>