{% extends "inicio/index.html" %}
<div class="container-md">
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 columnas">
  {% for proyecto in proyectos %}
<section class="personas">
    <div class="contenedor">
      <article class="persona__columna">
        <a href="{% url 'inicio:ver_detalles' proyecto.id %}"><img src="{{proyecto.img_principal.url}}"></a>
        <div class="capa">
          <p>{{proyecto.nombre}}</p>
        </div>
      </article>
    </div>
  </section>
  {% endfor %}
</div>
</div>
</div>
{% endblock content %}
